// Variables de color
$primary-color: #787;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$dark-color: #343a40;
$text-color: #212529;

// Tipografía
$font-family-base: "Helvetica Neue", Arial, sans-serif;

// Espaciado
$padding-base: 1rem;
